In [25]:
library(dplyr)

First we'll import it but set blanks to be NULL, which means there's nothing there.

In [31]:
lunches <- read.csv("lunch.csv", na.strings="")

In [ ]:
head(lunches)

Now we'll create a dataframe that omits NULL values so you have just schools that have free and reduced lunch data in it.

In [28]:
schools <- lunches %>% na.omit()

In [29]:
head(schools)

  FY        COUNTY   CODISTSCH DISTRICTLNAME                TOTAL FREELUNCH
1 2017-2018 ADAMS    10003000  KENESAW PUBLIC SCHOOLS        271    54
2 2017-2018 ADAMS    10018000  HASTINGS PUBLIC SCHOOLS      3740  1828
3 2017-2018 ADAMS    10090000  ADAMS CENTRAL PUBLIC SCHOOLS  921   120
4 2017-2018 ADAMS    10123000  SILVER LAKE PUBLIC SCHOOLS    255    65
6 2017-2018 ADAMS    10702000  HASTINGS CATHOLIC SCHOOLS     474    40
8 2017-2018 ANTELOPE 20009000  NELIGH-OAKDALE SCHOOLS        383   112
  REDUCEDLUNCH FREEREDUCEDLUNCH PERCENT
1  24            78             28.78
2 437          2265             60.56
3  69           189             20.52
4  41           106             41.57
6  26            66             13.92
8  43           155             40.47

In [30]:
str(schools)

'data.frame':	1451 obs. of  9 variables:
 $ FY              : Factor w/ 5 levels "2013-2014","2014-2015",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ COUNTY          : Factor w/ 93 levels "ADAMS","ANTELOPE",..: 1 1 1 1 1 2 2 2 4 5 ...
 $ CODISTSCH       : int  10003000 10018000 10090000 10123000 10702000 20009000 20018000 22001000 40001000 50071000 ...
 $ DISTRICTLNAME   : Factor w/ 810 levels "ADAMS CENTRAL PUBLIC SCHOOLS",..: 327 274 1 580 272 438 190 436 47 557 ...
 $ TOTAL           : num  271 3740 921 255 474 383 170 448 150 90 ...
 $ FREELUNCH       : num  54 1828 120 65 40 ...
 $ REDUCEDLUNCH    : int  24 437 69 41 26 43 21 69 18 12 ...
 $ FREEREDUCEDLUNCH: int  78 2265 189 106 66 155 87 210 91 45 ...
 $ PERCENT         : num  28.8 60.6 20.5 41.6 13.9 ...
 - attr(*, "na.action")=Class 'omit'  Named int [1:756] 5 7 10 11 13 19 22 33 34 35 ...
  .. ..- attr(*, "names")= chr [1:756] "5" "7" "10" "11" ...

Now you should be good to go.